/**
 * Place your custom CSS styles here.
 **/
#simpleStatsDiv {
   width:90%;
   float:left;
}
#leftColumn {

   width:50%;
}
#rightColumn {
   width:50%;
}

#simpleStatsTable tbody:nth-child(odd) {
    background-color: #f2f2f2;
}

#statsDiv {
    padding: .5% 1% 1% 1%;
}